// Here you can add other styles

img {
    width: 100% !important;
}

.img-avatar {
    width: 35px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

.app-header.navbar .navbar-brand {
    height: auto;
    border: none;
}

.dropdown-toggle::after {
    margin: 0 0.5em 0 0.2em;
}

.sidebar .nav {
    width: 208px;
}

.modal-backdrop.show {
    display: none;
}

.links ul {
    list-style: none;
}

.post-link {
    color: #000;
}

.post-link:hover {
    color: blue !important;
    text-decoration: none;
}
