// Override the Bootstrap defaults without modifying key, versioned files.

body {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  color: #333;
}

.full-screen {
  min-height: 100vh;
}

ul {
  list-style: none;
}

.card-body {
  min-height: 300px;
}

.dropdown-menu {
  background-color: #eee;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #333;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #333;
}

.form-control {
  font-size: 14px;
}

.btn-sm, .btn-group-sm > .btn {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.card div {
    color: #000;
}

.card div p {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    color: #000;
}

.card div i {
    color: #000;
}

.card-text {
  color: #000;
}

.card .form-horizontal .form-group {
  margin: auto;
}

.navbar-brand > img {
    display: initial;
}

.navbar-brand {
    height: 69px;
    margin-right: 0;
}

.slick-slide img {
    width: 100%;
}

@media only screen and (max-width: 480px) {

  .navbar-brand {
    padding: 0;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-toggle {
    margin: 0;
  }

}
